.todos {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-message {
  font-size: 1.6em;
  margin: 30px 0px 40px 0px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo .id {
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 10px;
}

.todo .content {
  flex-grow: 1;
  font-size: 1.6em;
}

.todo .delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
}

.todo .delete:hover {
  background-color: #ff1a1a;
}

p {
  font-size: 1.2em;
}
